
  <div class="d-flex p-2">
  Ask your coach anything:
  </div>
  <div class="d-flex p-2">
  <form action="/answer" method="get" data-turbo="false">
    <input type="text" name="question" placeholder="What would you like ?">
    <input type="submit" value="Ask!">
  </form>

  </div>
